.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem;
    color: var(--grey);
    background-color: var(--lightgrey);
    width: 75%;
    margin: 1rem;
    margin-left: 6rem;
    margin-bottom: auto;
    margin-right: auto;
    border-radius: 3rem;
    
  
}
.search-flex input{
    background-color: var(--lightgrey);
    width: 100%;
    font-family: "Inter";
    font-size: 1rem;
    color: var(--grey);
    
    border: none;

}
.search-flex input:focus{
    outline: none;
}